---
layout: default
title: Minna Sakaria
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
    <div class="post">
      <div class="post-header">
        <div class="post-title">
          <h2>{{ post.title | upcase }}</h2>
        </div>
        <div class="post-info">
          <a class="info-link" href="#">info</a>
          <div class="info-box">
            <div class="info">
              {{ post.content }}
            </div>
            <div class="close-button">X</div>
          </div>
        </div>
      </div>
      <div class="flexslider">
		    <ul class="slides">
	    	  {% for slides in post.slideshow %}
		      <li>
		        <img src="{{ slides.image }}">
		      </li>
		      {% endfor %}
	    	</ul>
  		</div>
    </div>
    {% endfor %}
  </ul>
</div>