<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Flexslider CSS -->
        <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />


    </head>
    <body>

        <div class="site">
          <header>
            <h1 class="title">
              <a href="/">KARIBUNI<br>graphic design</a>
            </h1>
            <nav>
              <ul>
                <li><a class="extra" href="/">bio</a></li>
                <li><a class="extra" href="/">tumblr</a></li>
                <li><a class="extra" href="/">store</a></li>
              </ul>           
            </nav>
          <header>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Minna Sakaria<br />
                minna@sakaria.se
              </p>
            </div>
          </div>
        </div>
      <!-- Google fonts -->
      <!--<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>-->
      <link href='http://fonts.googleapis.com/css?family=Judson' rel='stylesheet' type='text/css'>
      <!-- Google CDN Hosted jQuery  -->
      <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
      <script src="/assets/js/jquery.min.js"></script>
      <!-- Flexslider Library  -->
      <script src="/assets/js/jquery.flexslider-min.js"></script>
      <!-- Initialisation Code  -->
      <script src="/assets/js/app.js"></script>
    </body>
</html>
