<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Flexslider CSS -->
        <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />


    </head>
    <body>

        <div class="site">
          <header>
            <h1 class="title">
              <a href="/">Minna Sakaria<br>Graphic Design</a>
            </h1>
            <nav>
              <ul>
                <li><a class="extra" href="/">profile</a></li>
                <li><a class="extra" href="/">tumblr</a></li>
                <li><a class="extra" href="/">store</a></li>
              </ul>           
            </nav>
          </header>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Currently studying Visual Communication at the Royal College of Art, London. Working with commissions in collaboration with <a href="http://cargocollective.com/carolinadahl">Carolina Dahl</a>.
              </p></br>
              <p>
                <a href="tel:+447445249416" target="_top">UK: +447445249416</a><br>
                <a href="tel:+46733991086" target="_top">SE: +46733991086</a><br>
                <a href="mailto:minna@sakaria.se" target="_top">minna.sakaria@gmail.com</a>
              </p></br>
              <p>Education:</p> 
              <p>2013 – 2015 Royal College of Art, Visual Communication</p>
              <p>2010 – 2013 Konstfack, BA Graphic Design and Illustration</p> 
              <p>2012 – 2013 AAAD Prague, Exchange studies</p>
              <p>2009 – 2010 Forsbergs School of Advertising, Art direction</p>
              <p>2006 – 2008 Konstskolan Munka, Fine art</p>
            </div>
          </div>
        </div>
      <!-- Typekit temp -->
      <script type="text/javascript" src="//use.typekit.net/vih8ocr.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <!-- Google CDN Hosted jQuery  -->
      <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
      <script src="/assets/js/jquery.min.js"></script>
      <!-- Flexslider Library  -->
      <script src="/assets/js/jquery.flexslider-min.js"></script>
      <!-- Initialisation Code  -->
      <script src="/assets/js/app.js"></script>
    </body>
</html>
